.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer {
  background-color: antiquewhite !important;
  color: black !important;
}

.product-item {
  height: 30vh;
  width: 20vw !important;

}

.poduct-deets{
  display: flex;
  width: 100vw !important;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.product-image{
  height: 20vh;
  width: 20vh;
  padding-right: 30px;
}

input{
  border-radius: 6px !important;
}

.button-add{
  background-color: bisque;
  border-radius: 4px;
  height: 5vh;
  width: 18.5vw;
}

.button-container{
  margin-top: 28px;
}

.price {
  font-weight: bold;
}

.product-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cart { 
  width: 100vw;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.button-remove{
  background-color: bisque;
  border-radius: 4px;
  height: 5vh;
  width: 18.5vw;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
